modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3001
externalPort = 6800

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 18861
externalPort = 6000

[[ports]]
localPort = 23696
externalPort = 80

[[ports]]
localPort = 23697
externalPort = 3000

[[ports]]
localPort = 23698
externalPort = 3002

[[ports]]
localPort = 23699
externalPort = 5000

[[ports]]
localPort = 24492
externalPort = 4200

[userenv]

[userenv.shared]
LIVREUR_API_KEY = "lgk_e0da08841fe010f1c615a6e30d0e160a4caab8efc6339c956f0f53a4e9843f32"
